<div id="question">
				
	<div data-question="{{questionIndex}}">
		<img src='{{src}}'/>
	</div>

</div>
<div id="answers">
	
	<input type="radio" name="answer" value="{{options.[0].name}}" />
	<label for="">{{options.[0].name}}</label>
	<input type="radio" name="answer" value="{{options.[1].name}}" />
	<label for="">{{options.[1].name}}</label>
	<input type="radio" name="answer" value="{{options.[2].name}}" />
	<label for="">{{options.[2].name}}</label>
	
</div>