<div id="question">
				
	<div data-question="{{questionIndex}}">
		<img src='{{src}}'/>
	</div>

</div>
<div id="answers">
	
	<input type="radio" name="answer" value="{{choice1}}" />
	<label for="">{{choice1}}</label>
	<input type="radio" name="answer" value="{{choice2}}" />
	<label for="">{{choice2}}</label>
	<input type="radio" name="answer" value="{{choice3}}" />
	<label for="">{{choice3}}</label>
	
</div>