{{#each questions}}
<div class="question">
				
	<div data-question="{{this.questionIndex}}">
		<img src='{{this.src}}'/>
	</div>

</div>
<div class="answers">
	{{#each this.options}}
		{{#if isCorrect}}
			<input type="radio" name="{{name}}" value="{{name}}" checked="checked"/>
		{{else}}
			<input type="radio" name="{{name}}" value="{{name}}" />
		{{/if}}
		<label for="">{{name}}</label>
	{{/each}}
</div>
{{/each}}