{{#each questions}}
		<div class="review">
			
					<div class="qa">						
						<div class="question">
							<div class="row">
								<div class="col-1">				
									<div data-question="{{this.questionIndex}}">
										<img src='{{src}}'/>
									</div>		


								</div>
							</div>
						</div>
						<div class="answer-notes">
							<div class="row">
								<div class="col-1">
									<h2>{{this.correctAnswerName}}</h2>
									
									<ul class="answer-note">
									{{#each this.studyPoints}}
										<li>
											<h3>{{letter}}</h3>
											<p>{{note}}</p>	
										</li>
									{{/each}}
									</ul>	
								</div>
							</div>
						</div>

						
						<div class="response-answer">
							<div class="row">
								<div class="col-1">
									<div class="answers">
										<div class="info-text">
											<span>You answered...</span>
										</div>
										{{#each this.options}}
										<div class="answer-choices" data-answer="{{isCorrect}}" data-choice="{{checked}}">
											{{#if checked}}
												<input type="radio" id="{{name}}" class="{{checked}}" name="{{this.questionIndex}}" value="{{name}}" checked="checked" />
											{{else}}
												<input type="radio" id="{{name}}" class="{{checked}}" name="{{this.questionIndex}}" value="{{name}}" disabled/>
											{{/if}}
											<label for="{{name}}">{{name}}</label>
										</div>
										{{/each}}

									</div>
									
								</div>
							</div>
						</div>
						
					</div>
		</div>

{{/each}}
