<div id="question">
	<div class="row">
		<div class="col-1">			
			<div data-question="{{questionIndex}}">
				<img src='{{src}}'/>
			</div>

		</div>
	</div>
</div>
<div id="answers">
	<div class="row">
		<div class="col-1">
			{{#each this.options}}
				<div class="identity">
					<input type="radio" id="{{name}}" class="{{checked}}" name="choices" value="{{name}}" />
					<label for="{{name}}">{{name}}</label>
				</div>
			{{/each}}
		</div>
	</div>
</div>