<div id="question">
				
	<!-- <div data-question="{{questionIndex}}">
		<img src='{{src}}'/>
	</div> -->

</div>
<div id="answers">
	{{#each questions.choices}}
	<input type="radio" name="" value="{{choice1}}" />
	<label for="">{{choice1}}</label>
	<input type="radio" name="" value="{{choice2}}" />
	<label for="">{{choice2}}</label>
	<input type="radio" name="" value="{{choice3}}" />
	<label for="">{{choice3}}</label>
	{{/each}}
</div>